.header, .footer {
	font-family:'Georgia', Times, Times New Roman, serif;
}


.header {
	background-color: #ffffff;
	border-color: #ddd;
	height:100px;
	width: 100%;
}

.title {
	float:left;
	background-color:#4aaaa5;
	padding:10px 15px 10px 15px;
	margin:0px 100px 0px 100px;
	text-align:left;
}

.nav{
	float:left;
	width:250px;
}


.entireSection{
	width:960px;
	background-image: url("../images/leather_1.png");
	float:left;
	margin: 50px;
	border:50px;
}
.section{
	float:left;
	width: 610px;
	height: auto;
	margin:20px;
	background-color:#ffffff;
	padding:20px;
}

#bio-image{
	width:25%;
	height: auto;
	float:left;
	margin: 10px;


}

.link-image{
	width:50px;
	height:auto;



}
.aside{
	float: right;
	width: 230px;
	background-color:#ffffff;
	margin: 20px;
	text-align:center;
	list-style-type: none;

}


.footer{
	clear: both;
  	margin-bottom: 0;
	text-align: center;
	background-color: #666666;
}

.h1{

}

.h2{

}

.h3{
	float:left;
}

.h4{

}

.h5{

}

label, input, textarea{
	display:block;
	/*margin:2px;*/
	width: 90%;
}