.body{
	color: #777777;
}


}

.h1, .h2, .h3, .h4, .h5 {font-family: 'Georgia', Times, Times New Roman, serif;

}
.header {
	background-color: #ffffff;
	border-color: #ddd;
	height:40px;
	width: 100%;

}

.header h1{
	margin:10px;


}
.title {
	float:left;
	background-color:#4aaaa5;
	padding:10px 15px 10px 15px;
	margin:0px 375px 0px 100px;
	text-align:left;
	

}

.nav{
	float:left;
	width:250px;
	color: #777777;
	width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: relative;

}
.nav a {
	color:#777777;
	margin:15px;
	float: left;
	align: center;

}

.entireSection{
	width:960px;
	background-image: url("../images/leather_1.png");
	float:left;
	margin: 0px 15px 0px 15px;
	border:15px;
	color: #777777;


}	
.section{
	float:left;
	width: 550px;
	height: auto;
	margin: 20px 20px 20px 75px;
	background-color:#ffffff;
	padding:20px;
}

#bio-image{
	width:25%;
	height: auto;
	float:left;
	margin: 10px;


}

.link-image{
	width:50px;
	height:auto;



}
.aside{
	float: right;
	width: 230px;
	background-color:#ffffff;
	margin: 20px;
	text-align:center;
	list-style-type: none;

}
.aside ul{
	list-style: none;
}
.aside li {
	float:left;
	padding:5px;
}


footer{
	
  	margin-bottom: 0;
	text-align: center;
	background-color: #666666;
	clear: both;
}



.h2{

}

.h3{
	float:left;
}

.h4{

}

.h5{

}
